@font-face {
    font-family: 'vw-head';
    font-weight: 400;
    src: url('/assets/fonts/vwhead-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'vw-head';
    font-weight: 400;
    font-style: italic;
    src: url('/assets/fonts/vwhead-regularitalic.woff2') format('woff2');
}
@font-face {
    font-family: 'vw-head';
    font-weight: 700;
    src: url('/assets/fonts/vwhead-bold.woff2') format('woff2');
}
@font-face {
    font-family: 'vw-head';
    font-weight: 700;
    font-style: italic;
    src: url('/assets/fonts/vwhead-bolditalic.woff2') format('woff2');
}
@font-face {
    font-family: 'vw-head';
    font-weight: 800;
    src: url('/assets/fonts/vwhead-extrabold.woff2') format('woff2');
}
@font-face {
    font-family: 'vw-head';
    font-weight: 200;
    src: url('/assets/fonts/vwhead-light.woff2') format('woff2');
}

@font-face {
    font-family: 'vw-text';
    font-weight: 400;
    src: url('/assets/fonts/vwtext-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'vw-text';
    font-weight: 400;
    font-style: italic;
    src: url('/assets/fonts/vwtext-regularitalic.woff2') format('woff2');
}
@font-face {
    font-family: 'vw-text';
    font-weight: 700;
    src: url('/assets/fonts/vwtext-bold.woff2') format('woff2');
}
@font-face {
    font-family: 'vw-text';
    font-weight: 700;
    font-style: italic;
    src: url('/assets/fonts/vwtext-bolditalic.woff2') format('woff2');
}
@font-face {
    font-family: 'vw-text';
    font-weight: 200;
    src: url('/assets/fonts/vwtext-light.woff2') format('woff2');
}