$brand-primary-light:#0040c5;
$brand-primary:rgb(0, 30, 80);
$brand-white-000: #ffffff;

$headfont: 'vw-head', sans-serif;
$headfontlight: 'vw-head', sans-serif;
$textfont: 'vw-text', sans-serif;
$textfontbold: 'vw-text', sans-serif;
$brand-font-family-sans-serif: 'vw-text', sans-serif;
$brand-headings-font-family:'vw-head', sans-serif;
